<h1>
  Add a new journal method
</h1>

<hr>

<%= render("journal_method_templates/validation_failures.html.erb") %>

<form action="/insert_journal_method_record" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @journal_method.name %>">
  </div>

  <div>
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" value="<%= @journal_method.description %>">
  </div>

  <button>
    Create journal method
  </button>
</form>

<hr>

<a href="/journal_methods">
  Go back
</a>
